@import "../../styles/mixins";

.container {
  padding: 10px 32px 20px;
  background-color: #f3f7f9;

  @include mobileandtablet {
    padding: 10px;
  }

  > * {
    max-width: 800px;
    margin: auto;
  }
}

.heading {
  margin: 16px auto;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.statusFilter {
  width: fit-content;
  background-color: transparent;
}
